.activity-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.activity-btn {
  margin-left: auto;
  align-self: end;
}

.activity-content {
  padding: 1rem;
}

.table-action:hover {
  cursor: pointer;
}

.table-action-disabled {
  cursor: not-allowed;
}
